/* general style */
:root {
  --light-blue: #2CF7DC;
  --blue: #0AC7FC;
  --salmon: #FF6A56;
  --yellow: #FFD507;
  --grey: #EFE9F2;
}

body {
  margin: 0;
}

h1, h2, a, footer {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-size: 2em;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.align-container {
  max-width: 40em;
  margin: 0 auto;
}

.row:after {
  clear: both;
  content: "";
  display: block;
}

.column {
  float: left;
  width: 49.8%; /* to leave room for a border */
}

/* for images */
.center {
  display: block;
  margin: 0 auto;
}

.circle-crop {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  overflow: hidden;
}

/* nav bar style */
nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 1em;
}

nav a:active, nav a:hover, .selected {
  border-bottom: 2px solid var(--light-blue);
}

.logo {
  height: 11em;
  width: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.me {
  background-color: var(--blue);
  color: white;
}

.me .align-container {
  padding: 4em 0 2em 0;
}

.me .column {
  height: 10em;
}

.me .left-border {
  border-left: white solid 2px;
}

/* for my photo */
.me img {
  height: 19em;
  width: auto;
  position: relative;
  bottom: 2.1em;
  right: 0.7em;
}

.me h1 {
  font-size: 3.3em;
  margin: 0.25em 0 0 0;
  text-align: right;
}

.me .row {
  padding-bottom: 3em;
}

.me p {
  font-weight: bold;
  text-align: justify;
}

.do .column {
  padding-top: 7em;
}

.do h2 {
  padding-top: 7.7em;
}

.do p {
  padding-right: 7em;
}

.do img {
  height: 12em;
  margin-top: 4em;
  box-shadow: 1em 1em #ffd50774;
}

#right-img {
  float: right;
  height: 10em;
}

.do .row {
  margin-bottom: 10em;
}

.why {
  background-color: var(--salmon);
  color: white;
}

.why img {
  height: 18em;
  transform: scaleX(-1);
  position: relative;
  right: 3em;
}

.why h2 {
  padding-top: 0.8em;
  text-align: right;
}

.why p {
  padding-left: 3em;
}

.crop {
  overflow: hidden;
  height: 18em;
  width: 18em;
}

.pricing {
  padding-top: 8em;
  text-align: center;
}

.pricing img {
  height: 13em;
  margin-bottom: 3em;
  box-shadow: 1em 1em var(--grey);
}

.pricing p {
  padding-bottom: 3em;
}

.contact-button {
  text-align: center;
  background-color: var(--blue);
  height: 5em;
  width: 10em;
  margin-bottom: 7em;
}

.contact-button a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  position: relative;
  right: 0.01em;
  top: 0.6em;
}

footer {
  text-align: center;
  background-color: var(--grey);
}

footer p {
  margin: 0;
  padding: 1em 0;
  font-family: 'Source Sans Pro', sans-serif;
}