<!DOCTYPE html>
<html lang="en-CA" dir="ltr">
<head>
<title>Rubber Boot Design</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
 <link href="https://fonts.googleapis.com/css?family=Cabin|Karla|PT+Sans|Source+Sans+Pro|Meera+Inimai|Quicksand:300"
rel="stylesheet" />
</head>
<body>

{{ content }}

<footer>
<p>
  &copy; Rubber Boot Design 2019
</p>
</footer>

</body>
</html>